
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EDNETLMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createlead">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Lead
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leadlist">
                <span class="oi oi-list" aria-hidden="true"></span> Lead List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="followuplist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Follow Up List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-wrench" aria-hidden="true"></span> Master Data
            </NavLink>
            @if (expandSubNav)
            {
                <NavLink class="nav-link" href="countryedit">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Country
                </NavLink>
                <NavLink class="nav-link" href="coursedit">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Course
                </NavLink>
                <NavLink class="nav-link" href="institutionedit">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Institution
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubNav;

    private string? NavMenuCssClass => collapseNavMenu? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
